body {
  font-family: "Noto Sans","微软雅黑","黑体",sans-serif;
  background-color: #009999;
  color: white;
}
.error {
    color: red;
}

label {
  display: block;
  font-size: 16px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 300px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 300px;
  height: 200px;
  font-size: 15px;
  font-family: monospace;
}

input[type=submit] {
  background-color: #006363; border: 1px solid #006363;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33CCCC), color-stop(1, #006363));
  background-image: -webkit-linear-gradient(top, #33CCCC, #006363);
  background-image: -moz-linear-gradient(top, #33CCCC, #006363);
  background-image: -o-linear-gradient(top, #33CCCC, #006363);
  background-image: -ms-linear-gradient(top, #33CCCC, #006363);
  background-image: linear-gradient(to bottom, #33CCCC, #006363);
}
.logo {
  text-align: center
}

.intro {
  text-align: center
}
h1 {
  font-family: "Ubuntu";
  font-size: 60px;
  text-align: center
}
h2 {
  font-family: "Arial";
  font-size: 15px;
  text-align: center
}
hr {
  border:0;
  background-color: #D4F2F2;
  height:2px;
}
footer {
  margin: 0 auto;
  padding: 10px; 
  text-align: center;
}
form {
    text-align: center;
}
.post {
	background-color:#006363;
	border-radius: 15px;
  overflow: auto;
}
.post + .post {
    margin-top: 15px;
}
.post-core{
  margin: 5px;
  padding: 10px;
  float: left;
}

.menu {
  margin: 20px;
  border-spacing: 5px;
  float:left;
  width: 50px;
}
.post-votes {
  text-align: center;
}

.post-heading {

}

.post-avatar {
  float: left;
  width: 50px;
  height: 50px;
}

.post-info {
  float: right

}

.post-avatar + .post-info {
  margin-left: 15px;
}

.post-username {
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.post-date {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
	color: #999;
}
.post-heading + .post-content {
  margin-top: 70px;
}
.post-content {
	margin: 5px;
	width: auto;
}
.post-more {
  font-size: 12px;
	margin: 5px;
	width: auto;
}

.post-content + .post-more {
  margin-top: 30px;
}
section {
  display: none;
}

body.home section.home,
body.newpost section.newpost, 
body.moeha section.moeha {
  display: block; 
}

header nav ul {
  list-style-type: none; text-align: center;
  margin: 0; padding: 0;
  background-color: #009999;
  border: 1px solid #009999; border-left: none; border-right: none;
}

header nav li {
  display: inline;
}

header nav a {
  display: inline-block;
  margin: 5px 2px; padding: 6px 16px;
  background-color: #32CCCC; border-radius: 20px;
  font: bold 0.9em 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #fff;
  text-decoration: none;
}
.button {
  float:top;
  width: 100%;
  height: 50%;
}