body {
  font-family: "Noto Sans","微软雅黑","黑体",sans-serif;
  background-color: #66CCCC;
  color: white;
}
.error {
    color: red;
}

label {
  display: block;
  font-size: 16px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 300px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 300px;
  height: 200px;
  font-size: 15px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 12px;
}

.logo {
  text-align: center
}

.intro {
  text-align: center
}
h1 {
  font-family: "Ubuntu";
  font-size: 60px;
  text-align: center
}
h2 {
  font-family: "Arial";
  font-size: 15px;
  text-align: center
}
hr {
  border:0;
  background-color: #D4F2F2;
  height:2px;
}
footer {
  margin: 0 auto;
  padding: 10px; 
  text-align: center;
}
form {
    text-align: center;
}
