{% extends "base.html" %}
{% block form %}
    <h2><i>post funny and hanest things!</i></h2>

    <form method="post">
      <label>
        <div>Fake Name</div>
        <input type="text" name="username" value="{{username}}">
      </label>

      <label>
        <div>Content</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" value="submit">

    </form>
{% endblock %}

{% block content %}
  {% for p in posts %}
    {{ p.render() | safe }}
    <br><br>
  {% endfor %} 
{% endblock %}